
@import 'global';

.video {
  height: 100%;
  padding-top: 2.4rem;
  padding-bottom: 1.32rem;
  overflow: hidden;

  .tabs-slide {
    position: fixed;
    top: 1.2rem;
    z-index: 9;

    width: 10rem;
    height: 1.2rem;
    font-size: 0.36rem;
    background-color: #d43c33;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .tabs {
      width: 17.2rem;
      padding: 0.32rem 0.44rem 0;
      white-space: nowrap;

      &.switch:after {
        left: 6.4rem;
      }

      &:after {
        content: '';
        display: block;
        width: 0.72rem;
        height: 0.08rem;
        background-color: #FFF;
        border-radius: 0.08rem;
        transition: left 0.2s;

        position: absolute;
        left: 0.44rem;
        bottom: 0.2rem;
      }
    }

    a {
      display: inline-block;
      margin-left: 0.88rem;
      color: #FFF;

      &:first-child {
        margin-left: 0;
      }
    }

    a.active {
      font-weight: 600;
    }
  }

  .pages-slide {
    height: 100%;

    .swiper-wrapper {
      height: 100%;
    }

    .swiper-slide {
      height: 100%;
      background-color: #F2F2F2;
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
    }

    .item {
      display: flex;
      flex-direction: column;
      height: 7.96rem;
      padding: 0.16rem 0.16rem 0;
      margin-bottom: 0.133333rem;
      background-color: #FFF;
      border-radius: 0.16rem;
      overflow: hidden;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .cover {
      height: 5.48rem;
      position: relative;
    }

    .title {
      height: 1.16rem;
      line-height: 1.16rem;
      border-bottom: 1px solid #e2e2e2;
      font-size: 0.4rem;
      color: #323232;
    }

    .meta {
      flex: 1;
      display: flex;
      align-items: center;

      .author {
        display: flex;
        align-items: center;
        font-size: 0.32rem;
        color: #505050;
      }

      .avatar {
        margin-right: 0.16rem;

        img {
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
        }
      }
    }
  }

  /* 加载状态 */
  .loading {
    text-align: center;
    padding: 0.28rem 0;
    color: #666;
    background-color: #FFF;
  }
}